<!DOCTYPE html>
<html lang="en">
<div class="bb">
<head>
    
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title> Help Line and Bed Availability</title> 
     <h1 align="center"> Help Line and Bed Availability </h1>
    <style>
    	body{
        background-image: url("{{url_for('static',filename='img/contact.jpg')}}");
   
   background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;


      }
    	.na {
    text-align:center;
    text-align-last:center;
  }
  .bb{
    height: 100%;
     width: 100%;
           
            background-color: rgb(255, 255, 255,0.5);
  }
  .button {
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
   background-color: white; 
  color: skyblue; 
  border: 2px solid skyblue;
}

.button:hover {
  background-color:skyblue;
  color: white;
  a:link {
  color: red;
}


a:visited {
  color: green;
}


a:hover {
  color: hotpink;
}


a:active {
  color: blue;
}
    </style> 
</head>
<body >

  
 <h1>  Maharashtra (central helpline number is 1916)</h1>
 <h3>

 	Mumbai:<a href="https://nmmchealthfacilities.com/HospitalInfo/showhospitalist" target="new">https://nmmchealthfacilities.com/HospitalInfo/showhospitalist</a><br><br>


Thane: <a href="https://covidthane.org/availabiltyOfHospitalBeds.html" target="new">https://covidthane.org/availabiltyOfHospitalBeds.html</a> <br><br>



Pune  Helpline 020-26127394: <a href="https://www.divcommpunecovid.com/ccsbeddashboard/hsr" target="new">https://www.divcommpunecovid.com/ccsbeddashboard/hsr</a><br><br>


Nagpur:<a href="http://nsscdcl.org/covidbeds/AvailableHospitals.jsp " target="new">http://nsscdcl.org/covidbeds/AvailableHospitals.jsp </a> <br><br>


Nashik:<a href="http://covidcbrs.nmc.gov.in/home/hospitalSummary" target="new">http://covidcbrs.nmc.gov.in/home/hospitalSummary</a>  <br>
</h3>


<h1>New Delhi</h1>
<h3>
New Delhi (Helpline: 011-22307145):<a href="https://coronabeds.jantasamvad.org/" target="new">https://coronabeds.jantasamvad.org/</a>
</h3>
<h1>Harayana </h1>
<h3>
Harayana (Helpline: 8558893911):<a href="https://coronaharyana.in/" target="new">https://coronaharyana.in/</a><br><br>


Gurgaon: <a href="https://covidggn.com/public/pages/gurugram-hospitals" target="new">https://covidggn.com/public/pages/gurugram-hospitals</a> <br>

</h3>

<h1>West Bengal </h1>
<h3>
West Bengal (Helpline: 1800313444222, 03323412600):<a href="https://www.wbhealth.gov.in/" target="new">https://www.wbhealth.gov.in/</a><br>
</h3>

<h1>Uttrakhand</h1>

<h3>Uttrakhand:<a href="https://covid19.uk.gov.in/bedssummary.aspx" target="new">https://covid19.uk.gov.in/bedssummary.aspx</a><br>

</h3>
<h1>Andhra Pradesh </h1>

<h3>Andhra Pradesh (Helpline number: 0866-2410978):<a href="http://dashboard.covid19.ap.gov.in/ims/hospbed_reports/" target="new">http://dashboard.covid19.ap.gov.in/ims/hospbed_reports/</a><br>
</h3>

<h1>Uttar Pradesh</h1>
<h3>Uttar Pradesh:<a href="http://dgmhup.gov.in/EN/covid19bedtrack" target="new">http://dgmhup.gov.in/EN/covid19bedtrack</a><br>
</h3>


<h1>Chandigarh</h1>
<h3>
Chandigarh (Helpline number: 9779558282):<a href="http://chdcovid19.in/" target="new">http://chdcovid19.in/</a><br>
</h3>
<h1>Goa</h1>

<h3>
Goa:<a href="https://www.goa.gov.in/covid-19/" target="new">https://www.goa.gov.in/covid-19/</a><br>
</h3>

<h1>Gujarat</h1>

<h3>Gujarat:<a href="https://gujcovid19.gujarat.gov.in/" target="new">https://gujcovid19.gujarat.gov.in/</a><br>
</h3>

<h1>Ahmedabad</h1>


<h3>Ahmedabad:<a href="https://ahna.org.in/covid19.html" target="new">https://ahna.org.in/covid19.html</a><br>
</h3>


<h1>Vadodara</h1>

<h3>Vadodara:<a href="https://vmc.gov.in/Covid19VadodaraApp/Default.aspx" target="new">https://vmc.gov.in/Covid19VadodaraApp/Default.aspx</a><br></h3>




<h1>Surat</h1>
<h3>Surat:<a href="http://office.suratsmartcity.com/SuratCOVID19/" target="new">http://office.suratsmartcity.com/SuratCOVID19/</a><br></h3>



<h1>Karnataka</h1>
<h3>Karnataka:<a href="https://apps.bbmpgov.in/covid19/index.html" target="new">https://apps.bbmpgov.in/covid19/index.html</a> <br></h3>



<h1>Kerala</h1>
<h3>Kerala (Helpline: 0471-2552056):<a href="https://covid19jagratha.kerala.nic.in/home/addHospitalDashBoard" target="new">https://covid19jagratha.kerala.nic.in/home/addHospitalDashBoard</a><br></h3>



<h1>Madhya Pradesh</h1>
<h3>Madhya Pradesh:<a href="http://sarthak.nhmmp.gov.in/covid/facility-bed-occupancy-dashboard/" target="new">http://sarthak.nhmmp.gov.in/covid/facility-bed-occupancy-dashboard/</a><br></h3>



<h1>Odisha</h1>
<h3>Odisha (Helpline: 1075 / 104 / 011-23978046 / 9439994859):<a href="https://statedashboard.odisha.gov.in" target="new">https://statedashboard.odisha.gov.in</a><br></h3>



<h1>Assam</h1>
<h3>Assam (Helpline: 6913347770):<a href="www.covid19.assam.gov.in" target="new">www.covid19.assam.gov.in</a><br>
</h3>

<h1>Bihar</h1>
<h3>
Bihar:<a href="https://covid19.bihar.gov.in/" target="new">https://covid19.bihar.gov.in/</a><br></h3>
<h1>Chhattisgarh</h1>
<h3>
Chhattisgarh (Helpline: 104 and 0788-2210772/73)<a href="https://cg.nic.in/health/covid19/RTPBedAvailable.aspx" target="new">https://cg.nic.in/health/covid19/RTPBedAvailable.aspx</a><br></h3>

<h1>Dadra And Nagar Haveli And Daman And Diu</h1>
<h3>Dadra And Nagar Haveli And Daman And Diu:<a href="https://covidfacility.dddgov.in/" target="new">https://covidfacility.dddgov.in/</a><br></h3>

<h1>Jammu & Kashmir</h1>
<h3>Jammu & Kashmir:<a href="" target="new"></a>Helpline: 01912520982, 0194-2440283<br></h3>


<h1>Punjab</h1>
<h3>Punjab (Helpline: 8872090029)
<a href="https://punjab.gov.in/" target="new">https://punjab.gov.in/</a><br>
</h3>

<h1>Rajasthan </h1>
<h3>Rajasthan (Helpline: 9439994859)<a href="https://covidinfo.rajasthan.gov.in/COVID19HOSPITALBEDSSTATUSSTATE.aspx" target="new">https://covidinfo.rajasthan.gov.in/COVID19HOSPITALBEDSSTATUSSTATE.aspx</a><br></h3>



<h1>Tamil Nadu</h1>
<h3>Tamil Nadu (Helpline: 044-29510500):
<a href="https://stopcorona.tn.gov.in/" target="new">www.stopcorona.tn.gov.in</a><br>
</h3>


<h1>Telangana</h1>
<h3>Telangana:
<a href="http://164.100.112.24/SpringMVC/getHospital_Beds_Status_Citizen.htm" target="new">http://164.100.112.24/SpringMVC/getHospital_Beds_Status_Citizen.htm</a><br></h3>


<h1>Laddak</h1>
<h3>Laddakh (Helpline: 01982256462):
<a href="https://covid.ladakh.gov.in/" target="new">https://covid.ladakh.gov.in/</a><br>
</h3>

<h1>Himanchal Pradesh</h1>
<h3>Himanchal Pradesh:
<a href="http://www.nrhmhp.gov.in/content/covid-health-facilities" target="new">http://www.nrhmhp.gov.in/content/covid-health-facilities</a><br></h3>


<h1>Jharkhand</h1>
<h3>Jharkhand:
<a href="https://www.jharkhand.gov.in/Home/Covid19Dashboard (not real time as of now)" target="new">https://www.jharkhand.gov.in/Home/Covid19Dashboard (not real time as of now)</a><br>
</h3>

<h1>Manipur</h1>
<h3>Manipur Helpline: 1800-3453-818 and 3852411668<br></h3>


<h1>Meghalaya</h1>
<h3>Meghalaya:
<a href="https://meghealth.in/MeghCare.html" target="new">https://meghealth.in/MeghCare.html</a><br>
</h3>

<h1>Mizoram</h1>
<h3>Mizoram:
0389-2323336/2322336/2318336<br><br>
The COVID-19 Control room contact is 1070/0389-2342520/7629072785. <br><br>
People can also reach out to the control room via WhatsApp on 9366331931.<br>
</h3>

<h1>Nagaland</h1>
<h3>
Nagaland:0370-227003. Helpline: 7005539653<br></h3>


<h1>Puducherry</h1>
<h3>
Puducherry:<a href="https://covid19dashboard.py.gov.in/" target="new">https://covid19dashboard.py.gov.in/</a><br>
</h3>

</body>
<div class="na">

 <a class="button" href="{{ url_for('home')}}">BACK</a>

  </head>
</div>
</div>

</html>