<!DOCTYPE html>
<html >
<head>
  
  <meta charset="UTF-8">
  <title>Covid-19 Risk Predictor</title>
 <style>
      body{
        background-image: url("{{url_for('static',filename='img/index.webp')}}");
      background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
form{
          
            height: 2200px;
            width: 400px;
           
            background-color: rgb(255, 255, 255,0.5);
        }
     

     .button {
   
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
   background-color: white; 
  color: black; 
  border: 2px solid black;
}
.dg{
    margin:auto;
    margin-left: 40%;
  padding:10px
  }

.button:hover {
  background-color: black;
  color: white;
}
 </style>
</head>

<body>
    <div class="dg">
 <div class="login">
    <h1>Predict Covid-19 Risk</h1><br><br>
   
    <form action="{{ url_for('predict')}}"method="post">

            <h3 style="font-size: x-large;">Breathing Problems:<br>
        <input style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Breathing Problem" value= "1" required="required" />
        <label style="font-size: 25px;" for="1">Yes</label><br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Breathing Problem"  value= "0" required="required" />
        <label style="font-size: 25px;" for="0">No</label><br></h3>

            <h3 style="font-size: x-large;">Fever:<br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Fever" value= "1" required="required" />
        <label style="font-size: 25px;" for="1">Yes</label><br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Fever" value= "0" required="required" />
        <label style="font-size: 25px;" for="0">No</label><br></h3>


            <h3  style="font-size: x-large;">Dry Cough:<br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Dry Cough" value= "1" required="required" />
        <label style="font-size: 25px;" for="1">Yes</label><br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Dry Cough"  value= "0" required="required" />
        <label style="font-size: 25px;" for="0">No</label><br></h3>

            <h3  style="font-size: x-large;">Sore throat :<br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Sore throat" value= "1" required="required" />
        <label style="font-size: 25px;" for="1">Yes</label><br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Sore throat" value= "0" required="required" />
        <label style="font-size: 25px;" for="0">No</label><br></h3>

            <h3  style="font-size: x-large;">Running Nose:<br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Running Nose" value= "1" required="required" />
        <label style="font-size: 25px;" for="1">Yes</label><br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Running Nose"  value= "0" required="required" />
        <label style="font-size: 25px;" for="0">No</label><br></h3>

            <h3  style="font-size: x-large;">Asthma:<br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Asthma" value= "1" required="required" />
        <label style="font-size: 25px;" for="1">Yes</label><br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Asthma" value= "0" required="required" />
        <label style="font-size: 25px;" for="0">No</label><br></h3>

            <h3  style="font-size: x-large;">Chronic Lung Disease:<br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Chronic Lung Disease" value= "1" required="required" />
        <label style="font-size: 25px;" for="1">Yes</label><br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Chronic Lung Disease"  value= "0" required="required" />
        <label style="font-size: 25px;" for="0">No</label><br></h3>

            <h3  style="font-size: x-large;">Headache:<br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Headache" value= "1" required="required" />
        <label style="font-size: 25px;" for="1">Yes</label><br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Headache" value= "0" required="required" />
        <label style="font-size: 25px;" for="0">No</label><br></h3>

            <h3  style="font-size: x-large;">Heart Disease:<br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Heart Disease" value= "1" required="required" />
        <label style="font-size: 25px;" for="1">Yes</label><br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Heart Disease"  value= "0" required="required" />
        <label style="font-size: 25px;" for="0">No</label><br></h3>

            <h3  style="font-size: x-large;">Diabetes:<br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Diabetes" value= "1" required="required" />
        <label style="font-size: 25px;" for="1">Yes</label><br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Diabetes" value= "0" required="required" />
        <label style="font-size: 25px;" for="0">No</label><br></h3>

            <h3  style="font-size: x-large;">Hyper Tension:<br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Hyper Tension" value= "1" required="required" />
        <label style="font-size: 25px;" for="1">Yes</label><br>
        <input style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Hyper Tension"  value= "0" required="required" />
        <label style="font-size: 25px;" for="0">No</label><br></h3>

            <h3  style="font-size: x-large;">Fatigue :<br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Fatigue " value= "1" required="required" />
        <label style="font-size: 25px;" for="1">Yes</label><br>
        <input style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Fatigue " value= "0" required="required" />
        <label style="font-size: 25px;" for="0">No</label><br></h3>

            <h3  style="font-size: x-large;">Gastrointestinal Problems:<br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Gastrointestinal" value= "1" required="required" />
        <label style="font-size: 25px;" for="1">Yes</label><br>
        <input style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Gastrointestinal"  value= "0" required="required" />
        <label style="font-size: 25px;" for="0">No</label><br></h3>

        <h3  style="font-size: x-large;">Abroad travel:<br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Abroad travel" value= "1" required="required" />
        <label style="font-size: 25px;" for="1">Yes</label><br>
        <input style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Abroad travel" value= "0" required="required" />
        <label style="font-size: 25px;" for="0">No</label><br></h3>

            <h3  style="font-size: x-large;">Contact with COVID Patient:<br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Contact with COVID Patient" value= "1" required="required" />
        <label style="font-size: 25px;" for="1">Yes</label><br>
        <input style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Contact with COVID Patient"  value= "0" required="required" />
        <label style="font-size: 25px;" for="0">No</label><br></h3>

            <h3  style="font-size: x-large;">Attended Large Gathering:<br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Attended Large Gathering" value= "1" required="required" />
        <label style="font-size: 25px;" for="1">Yes</label><br>
        <input style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Attended Large Gathering" value= "0" required="required" />
        <label style="font-size: 25px;" for="0">No</label><br></h3>

            <h3  style="font-size: x-large;">Visited Covid Public Exposed Places:<br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Visited Public Exposed Places" value= "1" required="required" />
        <label style="font-size: 25px;" for="1">Yes</label><br>
        <input style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Visited Public Exposed Places"  value= "0" required="required" />
        <label style="font-size: 25px;" for="0">No</label><br></h3>

           <h3  style="font-size: x-large;">Family working in Public Covid Exposed Places:<br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Family working in Public Exposed Places" value= "1" required="required" />
        <label style="font-size: 25px;" for="1">Yes</label><br>
        <input style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Family working in Public Exposed Places" value= "0" required="required" />
        <label style="font-size: 25px;" for="0">No</label><br></h3>

            <h3  style="font-size: x-large;">Wearing Masks Always:<br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Wearing MasksSanitization from Market" value= "1" required="required" />
        <label style="font-size: 25px;" for="1">Yes</label><br>
        <input style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Wearing MasksSanitization from Market"  value= "0" required="required" />
        <label style="font-size: 25px;" for="0">No</label><br></h3>

            <h3  style="font-size: x-large;">Sanitization Regularly :<br>
        <input  style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Sanitization from Market" value= "1" required="required" />
        <label style="font-size: 25px;" for="1">Yes</label><br>
        <input style="height: 20px;width: 20px;cursor: pointer;" type="radio" name="Sanitization from Market" value= "0" required="required" />
        <label style="font-size: 25px;" for="0">No</label><br><br></h3>

      <button class="button" href="result.html" class="btn btn-primary btn-block btn-large">PREDICT </button> 
        
         
    </form>

   <br>
   <br>
 
</div>
 </div>


</body>

</html>